<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="BSMS.LoginService">
        <endpoint address="" binding="basicHttpBinding" contract="BSMS.ILoginService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BSMS/LoginService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BSMS.AdminService.AdminService">
        <endpoint address="" binding="basicHttpBinding" contract="BSMS.AdminService.IAdminService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BSMS.AdminService/AdminService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BSMS.BillerService.BillerService">
        <endpoint address="" binding="basicHttpBinding" contract="BSMS.BillerService.IBillerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BSMS.BillerService/BillerService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BSMS.BillService.BillService">
        <endpoint address="" binding="basicHttpBinding" contract="BSMS.BillService.IBillService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BSMS.BillService/BillService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BSMS.BranchAdminService.BranchAdminService">
        <endpoint address="" binding="basicHttpBinding" contract="BSMS.BranchAdminService.IBranchAdminService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BSMS.BranchAdminService/BranchAdminService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BSMS.BranchService.BranchService">
        <endpoint address="" binding="basicHttpBinding" contract="BSMS.BranchService.IBranchService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BSMS.BranchService/BranchService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BSMS.SalesService.SalesService">
        <endpoint address="" binding="basicHttpBinding" contract="BSMS.SalesService.ISalesService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BSMS.SalesService/SalesService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BSMS.StockService.StockService">
        <endpoint address="" binding="basicHttpBinding" contract="BSMS.StockService.IStockService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BSMS.StockService/StockService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="BSMSEntities" connectionString="metadata=res://*/BSMSModel.csdl|res://*/BSMSModel.ssdl|res://*/BSMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=G:\projects\Project\BSMS-WCF-WINDOWFORM\BSMS\BSMS\BSMS.mdf;Integrated Security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>



<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp" />
    </sharedListeners>
  </system.diagnostics>
</configuration>